name: Secure CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-security:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '17'

    - name: Build
      run: |
        cd backend
        mvn clean package -DskipTests

    - name: Dependency Scan
      uses: dependency-check/Dependency-Check_Action@main
      with:
        project: secure-ci-cd
        path: backend

    - name: Docker Build
      run: |
        cd backend
        docker build -t secure-app .

    - name: Trivy Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: secure-app
        severity: HIGH,CRITICAL
        exit-code: 1
